body{
font-family: Georgia;
background-size: cover;
height:100%;   
background-attachment: fixed;
text-align:left;
background: url(img/1kis.png)no-repeat ;
transition: background 1s linear; 
}
p{
text-indent: 4rem;
margin-bottom: 1em;
}
.container{
align-self: flex-end;  
margin: 3rem ;
width:24rem ;
height: 24rem;
position: absolute;
left: 1rem ;
top: 2rem;
}
.rum {
opacity: 0.2;
position:absolute;
text-align:center;
width: 19rem; 
height: 10rem;
background: pink;
border-radius: 10%;
top:-0.5rem;
right:109rem;
marging-left:14rem;
}
.img{
width: 19rem; 
height: 10rem;
background: url(img/7hot.png) ;
}
.newcolor{opacity: 0.5;
color: white;
font-size: 1.8rem;
background-color: green;
width: 21rem;
height: 12rem;
padding-top: 2rem;
}
#new-board-btn {
white-space: normal;
width: 100px;
}
.cat,.cat1,.cat2 {   
display: inline-block;
height: 35rem;                   /* size box for hover  */    
width: 27rem;
background: url(img/2hil.png) 5rem 3rem no-repeat;
background-size: 14rem 18rem; 	
transition: background-size 4s ;
}
.cat:hover {
background-size: 16rem 20rem; /* size images  */
padding-top:1rem;   
}
.cat1{
background: url(img/ro3.png) 10rem 3rem no-repeat;
background-size: 11rem 20rem;
}
.cat1:hover {
background-size: 12rem 22rem; 
padding-top:1rem;              
}
.cat2{
background: url(img/pur1.png) 5rem 3rem no-repeat;
background-size: 19rem 23rem; 	
transition: background-size 4s ;
}
.cat2:hover{
background-size: 21rem 24rem; /* size images  */
padding-top:1rem;
}
.cat7{
width:120%;
}
.text2{
text-align: justify;
font-size: 2rem;
margin-left: 33rem;
margin-right: 3rem;
margin-top: -17rem;
color: Black;
padding-bottom:3rem;
border-radius: 40%;
}
h1
{
font-size: 1.5rem;
padding-top: 25rem;
}
.bn
{
height:20rem;
text-align: justify;
font-size: 1.6rem;
margin-left: 1rem;
margin-right: 1rem;
margin-top: -9rem;
color: Black;
padding-bottom: 3rem;
}
.box{
height:7rem;
align-self: flex-end;  
margin: 3rem ;
width:124rem ;
position: absolute;
left: 1rem ;
top: 2rem;
}
.box1,.box4,.box7{
width: 41rem;
height: 9rem;
background-color: tomato;
border-radius: 5%;
color:white;
}
.box2,.box5,.box6,.box8,.box7{ 
text-align: justify;
font-size: 2rem;
margin-left: 8rem;
margin-right: 8rem;
margin-top: 5rem;
}
.box6{
margin-top: 0rem;
}
.box8{
margin-top: 9rem;
margin-left: 15rem;
}
.bn1{
background-color:pink;
}	
.box3{ 
text-align: justify;
font-size: 2rem;
margin-left: 8rem;
margin-right: 8rem;
padding-top: 1rem;
color: Black;
padding-bottom: 3rem;
background-color:blue;
}
html {
scroll-behavior: smooth;
}
section1 {
height: 600px;
background-color: pink;
}
section2 {
}
a{
color: white;
}
.all-cat,.all-cat1,.all-cat2,.all-cat3,.all-cat4{
text-align: right;
font-size: 1.6rem;
background: url(img/per1.png) 7rem 2rem no-repeat;
background-size: 45rem 35rem;
background-color:#3cb371;
border-radius: 4%;
border:0.5rem solid Tomato;
}
.all-cat1{
background: url(img/mey100.png) 0rem 5rem no-repeat;
background-color:#3e2914;
}
.all-cat2{
background: url(img/nor.jpg) 2rem 2rem no-repeat;
background-color:white;
}
.all-cat3{
background: url(img/bri.png) 5rem 2rem no-repeat;
background-color:white;
}
.all-cat4     {
background: url(img/cat9.png) 1rem 5rem no-repeat;
background-color:#3cb371;
height:45rem;
}
.mytext:hover{
color:white;
}
.descr,.mytext,.beng,.mcoon 
{width: 35rem;
margin: 3rem 32rem 5rem;
text-align: justify;
padding-left:1rem;
}
.mytext{font-size: 2.5rem;
padding-top: rem;
margin: 2rem -1rem -1rem;
}
.mcoon{
color:white;
}
.beng{
width: 26rem;
margin: 3rem 39rem 5rem;
}
.fon,.fon1,.fon2,.fon3,.fon4
{
position:relative;
padding-top: 0.1rem;
margin-top: 3rem;
background-color: yellow;
height: 9rem;
width: 48rem;
display: none;
border-radius: 25%;
margin-left: 7rem;
border:0.5rem solid #3cb371;
}
.backgr{
margin: 2.6rem 10rem;
top: 2rem;
height: 4rem;
width: 30rem;
background-color: #ff6347;
border-radius: 25%;
}
.cot{
background-color: green;
height: 50rem;
}
@media (min-width: 768px) {
.cot  {height: ;            /* NEED WRITE FOR MOBILE  HEIGHT AND BODY!!!! */
}
.newcolor {
margin-left: -15rem;
}
.all-cat, .all-cat1, .all-cat2, .all-cat3, .all-cat4{
margin: 0px 0px 50rem;
}
@media (min-width: 1024px)
{
.box3 {    margin-left: 4rem;
    margin-right: 3rem;            /* NEED WRITE FOR MOBILE  HEIGHT AND BODY!!!! */
  }  
  .cot {
    height: 100rem;
}
 .all-cat, .all-cat1, .all-cat2, .all-cat3, .all-cat4 {
    margin: 0px 0px 20rem;
} 
  }
@media (min-width: 1200px) {
.cot  {height: ;            /* NEED WRITE FOR MOBILE  HEIGHT AND BODY!!!! */
}
