body{
font-family: Georgia;
background-size: cover;
height:100%;   
background-attachment: fixed;
text-align:left;
background: url(img/1kis.png)no-repeat ;
transition: background 1s linear; 
}
p{
text-indent: 4rem;
margin-bottom: 1em;
}
.container{
align-self: flex-end;  
margin: 3rem ;
width:24rem ;
height: 24rem;
position: absolute;
left: 1rem ;
top: 2rem;
}
.rum {
opacity: 0.2;
position:absolute;
text-align:center;
width: 19rem; 
height: 10rem;
background: pink;
border-radius: 10%;
top:-0.5rem;
right:109rem;
}
.img{
width: 19rem; 
height: 10rem;
background: url(img/7hot.png) ;
}
.newcolor{opacity: 0.5;
color: white;
font-size: 1.8rem;
background-color: green;
width: 21rem;
height: 12rem;
padding-top: 2rem;
}
#new-board-btn {
white-space: normal;
width: 100px;
}
.text1 {
margin-top:-6rem;
}
.cat,.cat1,.cat2 {   
display: inline-block;
height: 35rem;                   /* size box for hover  */    
width: 27rem;
background: url(img/2hil.png)1rem 3rem no-repeat;
background-size: 14rem 18rem; 	
transition: background-size 4s ;
}
.cat:hover {
background-size: 16rem 20rem; /* size images  */
padding-top:1rem;   
}
.cat1{
background: url(img/ro3.png) 5rem 2rem no-repeat;
background-size: 11rem 20rem;
}
.cat1:hover {
background-size: 12rem 22rem; 
padding-top:1rem;              
}
.cat2{
background: url(img/pur1.png) 2rem 2.8rem no-repeat;
background-size: 19rem 23rem; 	
transition: background-size 4s ;
}
.cat2:hover{
background-size: 21rem 24rem; /* size images  */
padding-top:1rem;
}
.cat7{
width:120%;
}
.text2{
text-align: justify;
font-size: 2rem;
margin-left: 33rem;
margin-right: 3rem;
margin-top: -17rem;
color: Black;
padding-bottom:3rem;
border-radius: 40%;
}
h1
{
font-size: 1.5rem;
padding-top: 25rem;
}
.bn
{
height:20rem;
text-align: justify;
font-size: 1.6rem;
margin-left: 1rem;
margin-right: 1rem;
margin-top: -9rem;
color: Black;
padding-bottom: 3rem;
}
.box{
height:7rem;
align-self: flex-end;  
margin: 3rem ;
width:124rem ;
position: absolute;
left: 1rem ;
top: 2rem;
}
.box1,.box4,.box7{
width: 41rem;
height: 9rem;
background-color: tomato;
border-radius: 5%;
color:white;
}
.box2,.box5,.box6,.box8,.box7{ 
text-align: justify;
font-size: 2rem;
margin-left: 8rem;
margin-right: 8rem;
margin-top: 5rem;
}
.box6{
margin-top: 0rem;
}
.box8{
margin-top: 9rem;
margin-left: 15rem;
}
.bn1{
background-color:pink;
}	
.box3{ 
text-align: justify;
font-size: 2rem;
margin-left: 8rem;
margin-right: 8rem;
padding-top: 1rem;
color: Black;
padding-bottom: 3rem;
}
html {
scroll-behavior: smooth;
}
section1 {
height: 600px;
background-color: pink;
}
section2 {
}
a{
color: white;
}
.all-cat,.all-cat1,.all-cat2,.all-cat3,.all-cat4{
text-align: right;
font-size: 1.6rem;
background: url(img/per1.png) 7rem 2rem no-repeat;
background-size: 45rem 35rem;
background-color:#3cb371;
border-radius: 4%;
border:0.5rem solid Tomato;
}
.all-cat1{
background: url(img/mey100.png) 0rem 5rem no-repeat;
background-color:#3e2914;
}
.all-cat2{
background: url(img/nor.jpg) 2rem 2rem no-repeat;
background-color:white;
}
.all-cat3{
background: url(img/bri.png) 5rem 2rem no-repeat;
background-color:white;
}
.all-cat4     {
background: url(img/cat9.png) 1rem 5rem no-repeat;
background-color:#3cb371;
height:45rem;
}
.mytext:hover{
color:white;
}
.descr,.mytext,.beng,.mcoon 
{width: 35rem;
margin: 3rem 32rem 5rem;
text-align: justify;
padding-left:1rem;
}
.mytext{font-size: 2.5rem;
margin: 2rem -1rem -1rem;
}
.mcoon{
color:white;
}
.beng{
width: 26rem;
margin: 3rem 39rem 5rem;
}
.fon,.fon1,.fon2,.fon3,.fon4
{
position:relative;
padding-top: 0.1rem;
margin-top: 3rem;
background-color: yellow;
height: 9rem;
width: 48rem;
display: none;
border-radius: 25%;
margin-left: 7rem;
border:0.5rem solid #3cb371;
}
.backgr{
margin: 2.6rem 10rem;
top: 2rem;
height: 4rem;
width: 30rem;
background-color: #ff6347;
border-radius: 25%;
}
.cot{
/* height: 50rem; */
}
.newcolor {
margin-left: -15rem;
}
h2 {
padding-top: 7rem !important ;	

}
@media (min-width: 240px)and (max-width: 374px)
{
body{
background-size: 92%; 
margin:-17rem ;
margin-top:28rem;
}
.newcolor 
{  margin-left: -78rem !important;
margin-top: -13rem;
width: 16%;
height: 150%;
}
#new-board-btn {
margin-left: 14rem;
margin-top: -21rem;
}
h2 {
padding-top: 7rem !important;	
font-size: 1.8rem !important;
width: 99%;
} 
.box3 {
margin-top:23rem;
font-size: 1.2rem;
padding-right:1rem;
padding-left:1rem;
width:66% !important;
}
.text2 {
margin-left: 17rem;
margin-right: 3rem;
}
.box1 {
width: 99% !important;
} 
.text1 {
padding-left: 16rem;
padding-right: 1rem;
}
.cat{
     background: url(img/2hil.png) 2rem 1rem no-repeat ;
  background-size: 33%;
   background-color: green;
   height: 17rem;
width: 27rem;
  }
  .cat1{
     background: url(img/ro3.png) 2rem 1rem no-repeat;
background-size: 30%;
    background-color: green;
	height: 17rem;
width: 27rem;
  }
    .cat2{
     background: url(img/pur1.png) 2rem 1rem no-repeat;
  background-size: 48%;
      background-color: green;
	  height: 17rem;
width: 27rem;
  }
  .cat:hover {
background-size: 34%; 
}
  .cat1:hover {
background-size: 31%; 
}
 .cat2:hover {
background-size: 53%; 
}
.bn
{
font-size: 1.2rem;
margin-top: -16rem;
width: 43rem;
margin-left: 15rem;
}
.bn{
width: 70%;
padding-left:17rem;
padding-right: 2rem;
font-size: 1.3rem;
}
.cot {
/* height: 122rem !important; */
}
.box1 {
width: 23rem !important;
}
.box2,.box6,.box5 {
font-size: 1.2rem;
margin-left:auto !important;
margin-right: auto !important;
margin-top: 1rem;
width:40%;
}
.cat7 {
width: 80%;
padding-left:20rem;
}
.ry7{
width: 70%;
padding-left:17rem;
}
.ry8 {
width: 49% !important;
}
.box7 {
margin-left:8rem;
width: 22rem;
}
h2 {
font-size: 1.5rem;
padding-left: 1rem;
width: 25rem;
}
.fon, .fon1, .fon2, .fon3, .fon4
{margin-left:30%;
width: 40%;
}
.backgr {
margin: 2rem 1.4rem;
width: 90%;
}
.mytext{
font-size: 1.8rem;
padding-top:0.6rem;
margin: 2rem -3rem -1rem !important;
}
.descr,  .beng, .mcoon {
width: 22rem;
margin: 1rem 11.5rem 5rem;
padding-left: 1rem;
font-size: 1.25rem;
}
.all-cat
{  background: url(img/per1.png) 13rem 27rem no-repeat;  
background-size:21rem 15rem;
}
.all-cat1
{  background: url(img/mey100.png) 13rem 28rem no-repeat;  
background-size: 15rem 14rem;
background-color:#3e2914;
}
.all-cat2
{  background: url(img/nor.jpg) 14em 28rem no-repeat; 
background-size: 15rem 13rem;
}
.all-cat3
{  background: url(img/bri.png) 14rem 28rem no-repeat; 
background-size: 10rem 14rem;
}  
.all-cat4
{background: url(img/cat9.png) 14rem 26rem no-repeat;
background-size: 18rem 15rem;
background-color:SteelBlue;
}		
}
@media (min-width: 375px)and (max-width: 412px)
{
body{
background-size: 56%; 
}
.newcolor 
{ width: 13rem;
height: 13rem;
margin-left: -76rem;
margin-top: -3rem;
font-size: 1.5rem;
}
h2{
font-size: 1.8rem !important;
width: 99%;
}
.text2 {
margin-left: 17rem;
}
.box3 {
font-size: 1.2rem;
padding-right:1rem;
padding-left:1rem;
width: 128% !important;
}
.box1{
width: 99% !important;;
} 
h4{
font-size: 1.5rem;
}
.cot {
/* height:115rem !important;; */
}
.bn
{
font-size: 1.2rem;
margin-top: -16rem;
width: 60%;
margin-left: 13rem;
}
.cat{
     background: url(img/2hil.png) 2rem 1rem no-repeat ;
  background-size: 33%;
   background-color: green;
   height: 17rem;
width: 27rem;
  }
  .cat1{
     background: url(img/ro3.png) 2rem 1rem no-repeat;
background-size: 30%;
    background-color: green;
	height: 17rem;
width: 27rem;
  }
    .cat2{
     background: url(img/pur1.png) 2rem 1rem no-repeat;
  background-size: 48%;
      background-color: green;
	  height: 17rem;
width: 27rem;
  }
  .cat:hover {
background-size: 34%; 
}
  .cat1:hover {
background-size: 31%; 
}
 .cat2:hover {
background-size: 53%; 
}

.ry7{
width: 90% !important;
}
.box2,.box6,.box5 {
font-size: 1.5rem;
margin-left: 1rem;
margin-right: 1rem;
margin-top: 1rem;
width: 90%;
}
.ry8{
width: 99% !important;
}
.cat7 {
width: 100%;
padding-left: 1rem;
padding-right: 1rem;
}
.box7 {
margin-left:1rem;
width: 32rem;
}
.fon, .fon1, .fon2, .fon3, .fon4
{margin-left:10%;
width: 80%;
}
.backgr {
margin: 2rem 1.4rem;
width: 90%;
}
.mytext{
font-size: 1.8rem;
padding-top:0.6rem;
margin: 2rem 1rem -1rem !important;
}
.descr,  .beng, .mcoon {
width: 22rem;
margin: 1rem 11.5rem 5rem;
padding-left: 1rem;
font-size: 1.25rem;
}
.all-cat
{   background: url(img/per1.png) 1rem 22rem no-repeat;  
background-size: 37%;
}
.all-cat1
{  background: url(img/mey100.png) -1rem 26rem no-repeat;  
background-size: 30%;
background-color:#3e2914;
}
.all-cat2
{  background: url(img/nor.jpg) -2em 19rem no-repeat; 
background-size: 28%;
color:blue !important;
}
.all-cat3
{  background: url(img/bri.png) 0.2rem 24rem no-repeat; 
background-size: 18%;
}  
.all-cat4
{background: url(img/cat9.png) 4rem 24rem no-repeat;
background-size: 34%;
background-color:SteelBlue;
}	
}
@media (min-width: 515px)and (max-width: 600px)
{
	.cat{
     background: url(img/2hil.png) 2rem 1rem no-repeat ;
  background-size: 33%;
   background-color: green;
   height: 17rem;
width: 27rem;
  }
  .cat1{
     background: url(img/ro3.png) 2rem 1rem no-repeat;
background-size: 30%;
    background-color: green;
	height: 17rem;
width: 27rem;
  }
    .cat2{
     background: url(img/pur1.png) 2rem 1rem no-repeat;
  background-size: 48%;
      background-color: green;
	  height: 17rem;
width: 27rem;
  }
  .cat:hover {
background-size: 34%; 
}
  .cat1:hover {
background-size: 31%; 
}
 .cat2:hover {
background-size: 53%; 
}
.bn
{
font-size: 1.2rem;
margin-top: -16rem;
width: 43rem;
margin-left: 13rem;
}
.newcolor 
{  width: 15rem;
height:9rem;
margin-left: -65rem;
margin-top: -5rem;
}
.rum{
font-size: 1.5rem;
padding-top:1rem;
}
body{
background-size: 40% ; 
}
.text2 {
margin-left: 37%;
margin-top:-19rem;
}
.box3 {
font-size: 1.4rem;
padding-right:1rem;
padding-left:1rem;
width: 115% !important;
}
.box6{
margin-left: 1rem;
margin-right: 1rem;
}
.box2,.box5{
margin-left:1rem;
margin-right: 1rem;
}
.ry8{
width:99% !important;
}
.box7 {
margin-left: 4rem;
}
.fon, .fon1, .fon2, .fon3, .fon4
{margin-left:1rem;
}
.descr,  .beng, .mcoon {
width: 27rem;
margin: 1rem 17rem 5rem;
padding-left: 1rem;
font-size: 1.4rem;
}
.all-cat
{  background: url(img/per1.png) -0.3rem 7rem no-repeat;  
background-size: 40rem 30rem;
}
.all-cat1
{  background: url(img/mey100.png) 0.2rem 2rem no-repeat;  
background-size: 25rem 20rem;
background-color:#3e2914;
}
.all-cat2
{  background: url(img/nor.jpg) -4em 2rem no-repeat; 
background-size: 25rem 27rem;
}
.all-cat3
{  background: url(img/bri.png) 0.2rem 2rem no-repeat; 
background-size: 17rem 25rem;
}  
.all-cat4
{background: url(img/cat9.png) 0.2rem 2rem no-repeat;
background-size: 20rem 15rem;
background-color:SteelBlue;
}	
}
@media (min-width: 667px)and (max-width: 684px)
{
 .cat{
     background: url(img/2hil.png) 2rem 1rem no-repeat ;
  background-size: 33%;
   background-color: green;
   height: 17rem;
width: 27rem;
  }
  .cat1{
     background: url(img/ro3.png) 2rem 1rem no-repeat;
background-size: 30%;
    background-color: green;
	height: 17rem;
width: 27rem;
  }
    .cat2{
     background: url(img/pur1.png) 2rem 1rem no-repeat;
  background-size: 48%;
      background-color: green;
	  height: 17rem;
width: 27rem;
  }
  .cat:hover {
background-size: 34%; 
}
  .cat1:hover {
background-size: 31%; 
}
 .cat2:hover {
background-size: 53%; 
}
.bn
{
font-size: 1.2rem;
margin-top: -16rem;
width: 43rem;
margin-left: 15rem;
}
.mcoon,.descr {
margin: 3rem 22rem 5rem;
}
.all-cat
{  background: url(img/per1.png) -0.3rem 2rem no-repeat;  
background-size: 45rem 35rem;
}
.all-cat1
{  background: url(img/mey100.png) 0.2rem 2rem no-repeat;  
background-size: 30rem 25rem;
background-color:#3e2914;
}
.all-cat2
{  background: url(img/nor.jpg) -4em 2rem no-repeat;  }
.all-cat3
{  background: url(img/bri.png) 0.2rem 2rem no-repeat;  }  
.all-cat4
{background: url(img/cat9.png) 0.2rem 2rem no-repeat;
background-size: 30rem 23rem;
background-color:SteelBlue;
}
.beng{ width: 32rem;
margin: 3rem 1rem  1rem 25rem;
}
}
.ry8{
width: 63rem;
}	
.newcolor 
{    margin-left: -76rem;
margin-top: -3rem;           
} 
h2{
font-size: 3rem;
padding-top:1rem;
}
.box3 {
margin-left: -1rem;
width: 32rem;
margin-right: 1rem;
padding-bottom: 3rem;
}
.box1 {
width: 30rem;
}
.cot {
/* height: 110rem; */
}
}
@media (min-width: 734px) and (min-width: 734px)
{
h2{
font-size: 3rem;
padding-top:1rem;
}
.newcolor {
margin-left: -70rem;
} 
.mcoon,.descr {
margin: 3rem 30rem 5rem;
}
.mcoon {
color:white;
}
.ry8{
width: 68rem;
}
.box3{
margin-left: 0rem;
margin-right: 0rem;
width: 37rem;	
}
.cot {
/* height: 108rem; */
}
}
@media (min-width: 768px) {
.bn
{
font-size: 1.2rem;	
}	
.box3{
margin-left: 0rem;
margin-right: 0rem;
width: 40rem;	
}
h2{
font-size: 3rem;
padding-top:1rem;
}
.newcolor {
margin-top:-2rem;
margin-left: -80rem;
} 
.cot {
/* height: 106rem; */
}
.box1 {
width: 39rem;
}
.descr {
margin: 3rem 31rem 5rem;
}
.mcoon {
color:white;
}
}
@media (min-width: 800px)
{
.newcolor {
margin-top:-1rem;
}
h2{
font-size: 3rem;
padding-top:1rem;
}
.cot {
/* height: 107rem; */
} 
.mcoon {
color:white;
}  
.box3{
width: 42rem;
}
.bn
{font-size: 1.4rem;	}
}
@media (min-width: 1024px)
{
h2{
font-size: 3rem;
padding-top:1rem;
}	
.box3 {    margin-left: 4rem;
margin-right: 3rem;           
}  
.cot {
/* height: 105rem; */
}
.newcolor {
margin-top:1rem;
margin-left: -19rem;
} 
.mcoon {
color:white;
}
.ry8{
width: 92rem;
}
.box3{
width: 62rem;
}
}
@media (min-width: 1112px)
{ .newcolor {
margin-left: -13rem;
margin-top:1rem;
} 
.cot {
/* height: 105rem; */
} 
.mcoon {
color:white;
}
.ry8{
width: 105rem;
}
.box3{
width: 70rem;
}
h2{
font-size: 3rem;
padding-top:1rem;
}
}
@media (min-width: 1200px)
{
h2{
font-size: 3rem;
padding-top:1rem;
padding-left:9rem;
}
.newcolor {
margin-top:1rem ;
}  
.bn{
height: 24rem;
}  
.cot {
/* height: 50rem; */
}
.mcoon {
color:white;
} 
.ry8{
width: 115rem;
}
.box3{
width: 80rem;
}

