body{
font-family: Georgia;
background-size: cover;
height:100%;   
background-attachment: fixed;
text-align:left;
background: url(img/1kis.png)no-repeat ;
transition: background 1s linear; 
}
p{
text-indent: 4rem;
margin-bottom: 1em;
}
.container{
align-self: flex-end;  
margin: 3rem ;
width:24rem ;
height: 24rem;
position: absolute;
left: 1rem ;
top: 2rem;
}
.rum {
opacity: 0.2;
position:absolute;
text-align:center;
width: 19rem; 
height: 10rem;
background: pink;
border-radius: 10%;
top:-0.5rem;
right:9rem;
}
.img{
width: 19rem; 
height: 10rem;
background: url(img/7hot.png) ;
}
#new-board-btn {
white-space: normal;
width: 100px;
height: 100px;
padding-top:-7rem;
color:white;
opacity: 0.3;
}
.text1 {
margin-top:-6rem;
}
.cat,.cat1,.cat2 {   
display: inline-block;
height: 35rem;                   /* size box for hover  */    
width: 27rem;
background: url(img/2hil.png)1rem 3rem no-repeat;
background-size: 14rem 18rem; 	
transition: background-size 4s ;
}
.cat:hover {
background-size: 16rem 20rem; /* size images  */
padding-top:1rem; 
}
.cat1{
background: url(img/ro3.png) 5rem 2rem no-repeat;
background-size: 11rem 20rem;
}
.cat1:hover {
background-size: 12rem 22rem; 
padding-top:1rem;              
}
.cat2{
background: url(img/pur1.png) 2rem 2.8rem no-repeat;
background-size: 19rem 23rem; 	
transition: background-size 4s ;
}
.cat2:hover{
background-size: 21rem 24rem; /* size images  */
padding-top:1rem;
}
.cat7{
width:120%;
}
.text2{
text-align: justify;
font-size: 2rem;
margin-left: 33rem;
margin-right: 3rem;
margin-top: -17rem;
color: Black;
padding-bottom:3rem;
border-radius: 40%;
}
h1
{
font-size: 1.5rem;
padding-top: 25rem;
}
.bn
{
height:20rem;
text-align: justify;
font-size: 1.6rem;
margin-left: 1rem;
margin-right: 1rem;
margin-top: -9rem;
color: Black;
padding-bottom: 3rem;
}
.box{
height:7rem;
align-self: flex-end;  
margin: 3rem ;
width:124rem ;
position: absolute;
left: 1rem ;
top: 2rem;
}
.box1,.box4,.box7{
width: 30rem;
height: 9rem;
box-shadow: 0.8em 0.8em 5px #94724a ;
background-color: tomato;
border-radius: 17%;
color:white;
}
.box1:hover,.box4:hover,.box7:hover{
background-color: OrangeRed;
box-shadow: 0.3em 0.3em 5px #94724a ;
}
.box2,.box5,.box6,.box7{ 
text-align: justify;
font-size: 2rem;
margin-left: 8rem;
margin-right: 8rem;
margin-top: 5rem;
}
.box6{
margin-top: 0rem;
}
.bn1{
background-color:pink;
}	
.box3{ 
text-align: justify;
font-size: 2rem;
margin-left: 8rem;
margin-right: 8rem;
padding-top: 1rem;
color: Black;
padding-bottom: 3rem;
}
html {
scroll-behavior: smooth;
}
section1 {
height: 600px;
background-color: pink;
}
section2 {
}
a{
color: white;
}
.all-cat,.all-cat1,.all-cat2,.all-cat3,.all-cat4{
text-align: right;
font-size: 1.6rem;
background: url(img/per1.png) 7rem 2rem no-repeat;
background-size: 45rem 35rem;
background-color:#3cb371 !important;
border-radius: 4%;
border:0.5rem solid Tomato;
}
.all-cat1{
background: url(img/mey100.png) 0rem 5rem no-repeat;
background-color:#3e2914 !important;
}
.all-cat2{
background: url(img/nor.jpg) 2rem 2rem no-repeat;
background-color:white !important;
}
.all-cat3{
background: url(img/bri.png) 5rem 2rem no-repeat;
background-color:white !important;
}
.all-cat4     {
background: url(img/cat9.png) 1rem 5rem no-repeat;
background-color:#3cb371;
height:45rem;
}
.mytext:hover{
color:white;
}
.descr,.mytext,.beng,.mcoon 
{width: 35rem;
margin: 3rem 32rem 5rem;
text-align: justify;
padding-left:1rem;
}
.mytext{font-size: 2.5rem;
margin: 2rem -1rem -1rem;
}
.mcoon {
color:white !important;
}
.beng{
width: 26rem;
margin: 3rem 39rem 5rem;
}
.fon,.fon1,.fon2,.fon3,.fon4
{
position:relative;
padding-top: 0.1rem;
margin-top: 3rem;
background-color: saddlebrown;
height: 9rem;
width: 48rem;
display: none;
border-radius: 25%;
margin-left: 7rem;
border:0.5rem solid green;
box-shadow: 0.8em 0.8em 5px #94724a ;
}
.fon:hover,.fon1:hover,.fon2:hover,.fon3:hover{
background-color:Chocolate;
}
.backgr{
margin: 2.6rem 10rem;
top: 2rem;
height: 4rem;
width: 30rem;
background-color: #fd512f;
border-radius: 25%;
}
.cot{
/* height: 50rem; */
}
h2 {
padding-top: 7rem !important ;	
}
.ry8 {
padding-top: 2rem;
}
.box8{
width: 20rem;
height: 9rem;
background-color: LightBlue;
border-radius: 17%;
margin-top: -11rem;
margin-left: -11rem;
}
h5{
font-size: 1.5rem;
padding-top: 2rem;
position: absolute;
padding-left: 2rem;
padding-right: 2rem;
color:white;
}
.newcolor{
display:none;
opacity: 0.5;
color: white;
background-color: green;
width: 21rem;
height: 12rem;
border-radius: 17%;
margin-top: -12rem!important;
margin-left: 75rem!important;
}
h6{
font-size: 2rem;
color:white;
padding-top:1rem;
padding-left: 1rem;
padding-right: 1rem;
}
@media (min-width: 240px)and (max-width: 320px)
{
body{
background-size: 92%; 
margin:-17rem ;
margin-top:28rem;
}
.newcolor 
{
margin-top: -12rem!important;
width:17rem;
height: 8rem;
}
h6{
font-size: 1.4rem;
}
.box3 {
margin-top: 14rem;
font-size: 1.2rem;
padding-right:1rem;
padding-left:1rem;
width:66% !important;
}
.text2 {
margin-left: 17rem;
margin-right: 3rem;
}
.box1 {
width: 21rem !important;
}
.text1 {
padding-left: 16rem;
padding-right: 1rem;
}
.cat{
background: url(img/2hil.png) 17rem 1rem no-repeat ;
background-size: 16%;
height: 17rem;
width: 37rem;
}
.cat1{
background: url(img/ro3.png) 17rem 1rem no-repeat;
background-size: 16%;
height: 17rem;
width: 37rem;
}
.cat2{
background: url(img/pur1.png) 16rem 1rem no-repeat;
background-size: 23%;
height: 17rem;
width:37rem;
}
.cat:hover {
background-size: 17%; 
}
.cat1:hover {
background-size: 17%; 
}
.cat2:hover {
background-size: 22%; 
}
.bn
{
font-size: 1rem;
margin-top: -17rem;
width:14rem;
margin-left: 25rem;
}
.box2,.box6,.box5 {
font-size: 1.2rem;
margin-left:auto !important;
margin-right: auto !important;
margin-top: 1rem;
width:40%;
}
.cat7 {
width: 80%;
padding-left:20rem;
}
.ry7{
width: 70%;
padding-left:17rem;
}
.ry8 {
width: 49% !important;
padding-top: 2rem;
}
.box7 {
margin-left:8rem;
width: 22rem;
}
h2 {
font-size: 1.8rem !important;
width: 20rem;
padding-top: 1rem !important;
padding-left: 1rem;
}
.fon, .fon1, .fon2, .fon3, .fon4
{margin-left:30%;
width: 40%;
}
.backgr {
margin: 2rem 1.4rem;
width: 90%;
}
.mytext{
font-size: 1.8rem;
padding-top:0.6rem;
margin: 2rem -3rem -1rem !important;
}
.descr,  .beng, .mcoon {
width: 22rem;
margin: 1rem 11.5rem 5rem;
padding-left: 1rem;
font-size: 1.25rem;
}
.all-cat
{  background: url(img/per1.png) 13rem 27rem no-repeat;  
background-size:21rem 15rem;
}
.all-cat1
{  background: url(img/mey100.png) 13rem 28rem no-repeat;  
background-size: 15rem 14rem;
background-color:#3e2914;
}
.all-cat2
{  background: url(img/nor.jpg) 14em 25rem no-repeat; 
background-size: 20%;
}
.all-cat3
{  background: url(img/bri.png) 14rem 28rem no-repeat; 
background-size: 10rem 14rem;
}  
.all-cat4
{background: url(img/cat9.png) 14rem 26rem no-repeat;
background-size: 18rem 15rem;
background-color:SteelBlue;
}
.box8
{display: none;
}		
}
@media (min-width: 375px)and (max-width: 414px)
{
body{
background-size: 56%; 
}
.newcolor 
{ width: 13rem;
height: 13rem;
margin-left: -65rem!important;
margin-top: -3rem;
font-size: 1.5rem;
}
h6{
font-size: 1.6rem;
}
h2{
font-size: 1.8rem !important;
width: 99%;
padding-top: 1rem !important;
}
.text2 {
margin-top: -19rem;
margin-left: 17rem;
}
.box3 {
font-size: 1.2rem;
padding-right:1rem;
padding-left:1rem;
width: 128% !important;
}
.box1{
width: 99% !important;;
} 
h4{
font-size: 1.5rem;
}
.bn
{
font-size: 1.2rem;
margin-top: -16rem;
width: 60%;
margin-left: 13rem;
}
.cat{
background: url(img/2hil.png) 2rem 1rem no-repeat ;
background-size: 33%;
height: 17rem;
width: 27rem;
}
.cat1{
background: url(img/ro3.png) 2rem 1rem no-repeat;
background-size: 30%;
height: 17rem;
width: 27rem;
}
.cat2{
background: url(img/pur1.png) -1rem 1rem no-repeat;
background-size: 48%;
height: 17rem;
width: 27rem;
}
.cat:hover {
background-size: 34%; 
}
.cat1:hover {
background-size: 31%; 
}
.cat2:hover {
background-size: 53%; 
}
.ry7{
width: 90% !important;
}
.box2,.box6,.box5 {
font-size: 1.5rem;
margin-left: 1rem;
margin-right: 1rem;
margin-top: 1rem;
width: 90%;
}
.ry8{
width: 99% !important;
}
.cat7 {
width: 100%;
padding-left: 1rem;
padding-right: 1rem;
}
.box7 {
margin-left:1rem;
width: 32rem;
}
.fon, .fon1, .fon2, .fon3, .fon4
{margin-left:10%;
width: 80%;
}
.backgr {
margin: 2rem 1.4rem;
width: 90%;
}
.mytext{
font-size: 1.8rem;
padding-top:0.6rem;
margin: 2rem 1rem -1rem !important;
}
.descr,  .beng, .mcoon {
width: 22rem;
margin: 1rem 11.5rem 5rem;
padding-left: 1rem;
font-size: 1.25rem;
}
.all-cat
{   background: url(img/per1.png) 1rem 22rem no-repeat;  
background-size: 37%;
}
.all-cat1
{  background: url(img/mey100.png) -1rem 26rem no-repeat;  
background-size: 30%;
background-color:#3e2914;
}
.all-cat2
{  background: url(img/nor.jpg) -2em 19rem no-repeat; 
background-size: 28%;
color:blue !important;
}
.all-cat3
{  background: url(img/bri.png) 0.2rem 24rem no-repeat; 
background-size: 18%;
}  
.all-cat4
{background: url(img/cat9.png) 4rem 24rem no-repeat;
background-size: 34%;
background-color:SteelBlue;
}
.mcoon {
color:white !important;
}	
.box8
{width: 15rem;
height: 8rem;
opacity: 0.9;
margin-left: -16rem!important;
}
h5{font-size:1.1rem;
color:white!important;
}
}
@media (min-width: 515px)and (max-width: 600px)
{
.cat{
background: url(img/2hil.png) 2rem 1rem no-repeat ;
background-size: 33%;
height: 17rem;
width: 27rem;
}
.cat1{
background: url(img/ro3.png) 2rem 1rem no-repeat;
background-size: 30%;
height: 17rem;
width: 27rem;
}
.cat2{
background: url(img/pur1.png) -1rem 1rem no-repeat;
background-size: 48%;
height: 17rem;
width: 27rem;
}
.cat:hover {
background-size: 34%; 
}
.cat1:hover {
background-size: 31%; 
}
.cat2:hover {
background-size: 53%; 
}
.bn
{
font-size: 1.2rem;
margin-top: -16rem;
width: 33rem;
margin-left: 13rem;
}
.newcolor 
{  width: 15rem;
height:9rem;
margin-left: -65rem;
margin-top: -5rem;
}
.rum{
font-size: 1.5rem;
padding-top:1rem;
}
body{
background-size: 40% ; 
}
.text2 {
margin-left: 37%;
margin-top:-19rem;
}
.box3 {
font-size: 1.4rem;
padding-right:1rem;
padding-left:1rem;
width: 115% !important;
}
.box6{
margin-left: 1rem;
margin-right: 1rem;
}
.box2,.box5{
margin-left:1rem;
margin-right: 1rem;
}
.ry8{
width:99% !important;
}
.box7 {
margin-left: 4rem;
}
.fon, .fon1, .fon2, .fon3, .fon4
{margin-left:1rem;
}
.descr,  .beng, .mcoon {
width: 27rem;
margin: 1rem 17rem 5rem;
padding-left: 1rem;
font-size: 1.4rem;
}
.mcoon {
color:white !important;
}
.all-cat
{  background: url(img/per1.png) -0.3rem 11rem no-repeat;  
background-size: 40rem 30rem;
}
.all-cat1
{  background: url(img/mey100.png) 0.2rem 23rem no-repeat;  
background-size: 25rem 20rem;
background-color:#3e2914;
}
.all-cat2
{  background: url(img/nor.jpg) -4em 2rem no-repeat; 
background-size: 25rem 27rem;
}
.all-cat3
{  background: url(img/bri.png) 0.2rem 15rem no-repeat; 
background-size: 17rem 25rem;
}  
.all-cat4
{background: url(img/cat9.png) 0.2rem 23rem no-repeat;
background-size: 20rem 15rem;
background-color:SteelBlue;
}	
}
@media (min-width: 734px)and (max-width: 768px)
{
.newcolor {
margin-top:-1rem;
}
h2{
font-size: 3rem;
padding-top:1rem;
}
.mcoon {
color:white!important;
}  
.box3{
width: 38rem!important;
font-size: 1.7rem;
}
.cat{
background: url(img/2hil.png) 2rem 1rem no-repeat ;
background-size: 33%;
height: 17rem;
width: 27rem;
}
.cat1{
background: url(img/ro3.png) 2rem 1rem no-repeat;
background-size: 30%;
height: 17rem;
width: 27rem;
}
.cat2{
background: url(img/pur1.png) 2rem 1rem no-repeat;
background-size: 48%;
height: 17rem;
width: 27rem;
}
.cat:hover {
background-size: 34%; 
}
.cat1:hover {
background-size: 31%; 
}
.cat2:hover {
background-size: 53%; 
}
.bn
{
font-size: 1.2rem;
margin-top: -16rem;
width: 43rem;
margin-left: 15rem;
}
.box8
{
opacity: 0.9;
margin-left: -19rem;
} 
}
@media (min-width: 667px)and (max-width: 684px)
{
.cat{
background: url(img/2hil.png) 2rem 1rem no-repeat ;
background-size: 33%;
height: 17rem;
width: 27rem;
}
.cat1{
background: url(img/ro3.png) 2rem 1rem no-repeat;
background-size: 30%;
height: 17rem;
width: 27rem;
}
.cat2{
background: url(img/pur1.png) 2rem 1rem no-repeat;
background-size: 48%;
height: 17rem;
width: 27rem;
}
.cat:hover {
background-size: 34%; 
}
.cat1:hover {
background-size: 31%; 
}
.cat2:hover {
background-size: 53%; 
}
.bn
{
font-size: 1.2rem;
margin-top: -16rem;
width: 43rem;
margin-left: 15rem;
}
.mcoon,.descr {
margin: 3rem 22rem 5rem;
}
.all-cat
{  background: url(img/per1.png) -0.3rem 2rem no-repeat;  
background-size: 45rem 35rem;
}
.all-cat1
{  background: url(img/mey100.png) 0.2rem 2rem no-repeat;  
background-size: 30rem 25rem;
background-color:#3e2914;
}
.all-cat2
{  background: url(img/nor.jpg) -4em 2rem no-repeat;  }
.all-cat3
{  background: url(img/bri.png) 0.2rem 2rem no-repeat;  }  
.all-cat4
{background: url(img/cat9.png) 0.2rem 2rem no-repeat;
background-size: 30rem 23rem;
background-color:SteelBlue;
}
.beng{ width: 32rem;
margin: 3rem 1rem  1rem 25rem;
}
}
.ry8{
width: 63rem;
}	
.newcolor 
{    margin-left:16rem!important;          
} 
h2{
font-size: 3rem;
padding-top:1rem;
}
.box3 {
margin-left: -1rem;
width: 32rem;
margin-right: 1rem;
padding-bottom: 3rem;
}
.box1 {
width: 30rem;
}
.box8
{
opacity: 0.9;
margin-left: -21rem;
}
}
@media (min-width: 800px)
{
.newcolor {
margin-top:-1rem;
}
h2{
font-size: 3rem;
padding-top:1rem;
}
.box3{
width: 42rem;
}
.bn
{font-size: 1.4rem;	}
}
@media (min-width: 1024px)
{
h2{
font-size: 2.2rem;
padding-left: 78rem;
}	
.box3 {    margin-left: 4rem;
margin-right: 3rem; 
width: 60rem;
}  
.cot {
/* height: 105rem; */
}
.newcolor {
margin-top:1rem;
margin-left: -10rem;
} 
.ry8{
width: 65rem;
}
.box3{
width: 62rem;
}
}
@media (min-width: 1112px)
{ .newcolor {
margin-left: -8rem;
margin-top:1rem;
} 
.ry8{
width: 65rem;
}
.box3{
width: 70rem;
}
h2{
font-size: 2.6rem;
padding-left:78rem;
}
}
@media (min-width: 1200px)
{
h2{
font-size: 3rem;
padding-top:1rem;
padding-left:9rem;
}
.newcolor{
display:none;
opacity: 0.5;
color: white;
background-color: green;
width: 21rem;
height: 12rem;
border-radius: 17%;
margin-top: -12rem!important;
margin-left: 75rem!important;
}
h6{
white-space: normal;
font-size: 2rem;
color:white;
padding-top:1rem;
padding-left: 1rem;
padding-right: 1rem;
} 
.bn{
height: 24rem;
}  
.ry8{
width:65rem;
}
.box3{
width: 78rem;
}
}
